html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* TODO make it look like 1 */
.togglePassword {
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-left: none;
}

.togglePassword:hover {
  background-color: transparent;
  color: black;

}

.togglePassword:focus,
.togglePassword.btn:active:focus {
  /* outline: none !important; */
  box-shadow: none;
  background-color: transparent;
  color: black;
}

.form-control {
  outline: none !important;
  border-right: none !important;
}

body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* TOAST */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 9999;
}

.toast {
  display: flex;
  align-items: center;
  background: #fff;
  border-left: 4px solid;
  border-radius: 8px;
  padding: 16px;
  min-width: 320px;
  max-width: 380px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  animation: slideInLeft ease 0.3s, fadeOut linear 1s forwards;
  opacity: 1;
  margin-bottom: 12px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast+.toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

