html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* TODO make it look like 1 */
.togglePassword {
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-left: none;
}
.togglePassword:hover {
  background-color: transparent;
  color: black;
  
}
.togglePassword:focus, .togglePassword.btn:active:focus {
  /* outline: none !important; */
  box-shadow: none;
  background-color: transparent;
  color: black;
}
.form-control {
  outline: none !important;
  border-right: none !important;
}