@{
    ViewBag.Nav = "Guest"; /* If using dynamic navbar method */
    Layout = "_Layout";
    ViewData["Title"] = "Reset password";
}
<div class="vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="card p-3" style="min-width: 400px;">
        <div class="card-title fw-bold fs-4">Đổi mật khẩu</div>

        <div class="card-body">
            <form id="reset-password-form">
                <input name="username" id="username" value="@ViewBag.User" hidden />
                <div class="mb-3">
                    <label class="form-label">Mật khẩu mới</label>
                    <div class="input-group">
                        <input type="password" id="newPassword" class="form-control" required>
                        <button class="btn btn-outline-secondary bi bi-eye-slash togglePassword" type="button"></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Nhập lại mật khẩu mới</label>
                    <div class="input-group">
                        <input type="password" id="confirmNewPassword" class="form-control" required>
                        <button class="btn btn-outline-secondary bi bi-eye-slash togglePassword" type="button"></button>
                    </div>
                </div>

                <button id="reset-btn" type="submit" class="btn btn-dark w-100 mt-2">
                    Đổi mật khẩu
                </button>

            </form>
        </div>
    </div>
</div>

<script>
    // Password toggle
    document.querySelectorAll('.togglePassword').forEach(btn => {
        btn.addEventListener('click', () => {
            const input = btn.closest('.input-group').querySelector('input');
            const isPassword = input.type === 'password';

            input.type = isPassword ? 'text' : 'password';

            btn.classList.toggle('bi-eye', isPassword);
            btn.classList.toggle('bi-eye-slash', !isPassword);
        });
    });

    // Form submit handler
    document.getElementById("reset-password-form").addEventListener("submit", async function (e) {
        e.preventDefault();

        const newPassword = document.getElementById("newPassword").value.trim();
        const confirmNewPassword = document.getElementById("confirmNewPassword").value.trim();
        const btn = document.getElementById("reset-btn");

        // Check password match
        if (newPassword !== confirmNewPassword) {
            toast({
                message: "Hai mật khẩu không giống nhau!",
                type: "warning",
            });
            return;
        }

        btn.disabled = true;

        try {
            const username = document.getElementById("username").value;
            const formData = new FormData();
            formData.append('username', username);
            formData.append('newPassword', newPassword);

            const response = await fetch('/Auth/ResetPassword', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                const err = await response.text();
                throw new Error(err.message || "Reset password failed");
            }

            const json = await response.json();
            toast({
                message: "Đổi mật khẩu thành công",
                type: "success",
            });
            window.location.href = "/Auth/Login"; // redirect to login

        } catch (err) {
            toast({
                message: err.message,
                type: "error",
            });
        } finally {
            btn.disabled = false;
        }
    });

</script>