@{
    ViewBag.Nav = "Guest";
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}
<form id="register-form" method="POST" action="/Auth/Register" enctype="multipart/form-data">
    <section class="min-vh-100 d-flex align-items-center justify-content-center  p-3">
        @await Html.PartialAsync("Avatar.cshtml")

        <div class="card shadow p-5 rounded-3" style="max-width: 850px; width: 100%;">

            <h3 class="text-center mb-4 fw-bold">Tạo tài khoản</h3>

            <div class="row g-3">

                <!-- Username -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Username
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="uname" required>
                </div>

                <!-- Email -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Email
                        <span class="text-danger">*</span>
                    </label>
                    <input type="email" class="form-control" name="email" required>
                </div>

                <!-- Password -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Mật khẩu
                        <span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control" required>
                        <button class="btn btn-outline-secondary bi bi-eye-slash togglePassword" type="button"
                            id="togglePassword"></button>
                    </div>
                </div>

                <!-- Phone -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Số điện thoại</label>
                    <input class="form-control" name="sdt" placeholder="xxx-xxxx-xxx" data-slots="x">
                </div>

                <!-- Fullname -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Họ tên</label>
                    <input type="text" class="form-control" name="fullname">
                </div>

                <!-- Role -->
                <div class="col-md-6 mb-2">
                    <label class="form-label fw-semibold">Phòng ban</label>
                    <select class="form-select" name="role">
                        <option selected hidden>Chọn phòng ban</option>
                        @for (var i = 1; i <= 10; i++)
                        {
                            <option>Phòng ban @i</option>
                        }
                    </select>
                </div>


                @await Html.PartialAsync("Address.cshtml")
            </div>

            <button id="register-button" type="submit" class="btn btn-dark w-100 btn-lg mt-4">
                Đăng ký
            </button>

            <p class="text-center text-muted mt-3">
                Đã có tài khoản?
                <a href="/auth/login" class="fw-bold text-decoration-none text-black">Đăng nhập</a>
            </p>
        </div>
    </section>
</form>

<!-- Submit Form -->
<script>
    const togglePassword = document.getElementById("togglePassword");
    togglePassword.addEventListener("click", () => {
        const passwordInput = document.getElementById("password");
        const isHidden = passwordInput.type === "password";

        passwordInput.type = isHidden ? "text" : "password";
        togglePassword.classList.toggle("bi-eye");
        togglePassword.classList.toggle("bi-eye-slash");
    });
    document.getElementById("register-form").addEventListener("submit", async function (e) {
        e.preventDefault();

        const btn = document.getElementById("register-button");
        btn.disabled = true;
        btn.innerHTML = "<div class='spinner-border' role='status'> </div>";

        const form = new FormData(this);

        const parts = [
            form.get("road"),
            form.get("province")?.split(",")[1],
            form.get("district")?.split(",")[1],
            form.get("ward")
        ];

        const address = parts
            .filter(x => x && x.trim() !== "")
            .join(", ");

        const send = new FormData();
        var avt = null;
        var img = document.getElementsByTagName("img")[0].src;
        if (img != "https://dummyimage.com/150x150/ced4da/ffffff.png&text=Avatar")
            await croppie.result("blob").then(function (blob) {
                avt = new File([blob], form.get("uname") + "_avatar.png", { type: "image/png" });
            });
        send.append("username", form.get("uname"));
        send.append("email", form.get("email"));
        send.append("password", form.get("password"));
        send.append("fullname", form.get("fullname"));
        send.append("address", address);
        send.append("phonenumber", form.get("sdt"));
        send.append("role", form.get("role"));
        send.append("avatar", avt);

        fetch('/Auth/Register', {
            method: 'POST',
            body: send
        })
            .then(async response => {

                if (!response.ok) {
                    console.log(response);
                    const err = await response.json();
                    throw new Error(err.message);
                }
                return response.json();
            })
            .then(result => {
                window.location.replace("/Home/Index");
            })
            .catch(err => {
                console.log(err)
                toast({
                    message: err.message || err,
                    type: "error",
                });
            })
            .finally(() => {
                btn.disabled = false;
                btn.innerHTML = null;
                btn.innerText = "Đăng ký";
            });

    });
</script>